@font-face {
  font-family: 'formulaCondensedBlack';
  src: url("../fonts/formulacondensed-black-webfont.woff2") format("woff2"), url("../fonts/formulacondensed-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'formulaCondensedBold';
  src: url("../fonts/formulacondensed-bold-webfont.woff2") format("woff2"), url("../fonts/formulacondensed-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'formulaCondensedLight';
  src: url("../fonts/formulacondensed-light-webfont.woff2") format("woff2"), url("../fonts/formulacondensed-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'formulaCondensedRegular';
  src: url("../fonts/formulacondensed-regular-webfont.woff2") format("woff2"), url("../fonts/formulacondensed-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
